affine
annotated-types
asgiref
asttokens
attrs
beautifulsoup4
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
click-plugins
cligj
colorama
comm
contextily
contourpy
cycler
debugpy
decorator
Django
et_xmlfile
executing
folium
fonttools
geographiclib
geopandas
geopy
gitdb
GitPython
h11
httplib2
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mercantile
narwhals
nest-asyncio
numpy
openpyxl
outcome
packaging
pandas
parso
pillow
pip
platformdirs
prompt_toolkit
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pyogrio
pyparsing
pyproj
PySocks
python-dateutil
python-dotenv
pytz
pywin32
pyzmq
rasterio
referencing
requests
rpds-py
rsa
scikit-learn
scipy
seaborn
selenium
shapely
six
smmap
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
tenacity
threadpoolctl
toml
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
typing-inspection
tzdata
uritemplate
urllib3
watchdog
wcwidth
webdriver-manager
websocket-client
wsproto
xgboost
xyzservices
